<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Inventories</h1>
    <%= link_to 'New inventory', new_inventory_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
<!--
  <div id="inventories" class="min-w-full">
    <%# render @inventories %>
  </div>   -->
  <% if @inventories == nil %>
    <p> no entries yet </p>
  <% else %>
  <% @inventories.each do |entry| %>
      <% drink = Drink.find(entry.drink_id).name %>
      <% if entry.action == "purchased" %>
        <% @drinks_hash[drink] += entry.quantity %>
      <% elsif entry.action == "sold"  %>
        <% @drinks_hash[drink] -= entry.quantity %>
      <% end %>
  <% end %>
  <section class="grid grid-cols-4 gap-2 mt-5">
    <% @drinks_hash.each do |k,v| %>
      <% if v < 0 %>
      <div class="flex flex-col border border-2 border-red-200">
      <% else %>
      <div class="flex flex-col border border-2 border-blue-200">
      <% end %>
        <div> <%= k %> </div>
        <div> <%= v %> </div>
      </div>
    <% end %>
    <% end %>
  </section>
</div>
