<section class="w-full ">

  <span class="inline-block bg-gray-600 text-white font-bold px-2 mb-4">Actions : </span>
  <section class="buttons w-full flex flex-wrap gap-4 justify-between mb-8">
        <a class="border-4 border-green-400 inline-block w-full md:w-1/4 rounded-r-full rounded-l-full flex parent hover:bg-green-400 cursor-pointer hover:font-bold transition-all duration-500" href="/drinks">
          <div class="flex items-center justify-center inline-block border-4 border-green-400 rounded-full w-10 h-10 ">
            <ion-icon name="pricetag-outline"></ion-icon>
          </div>
          <div class="flex items-center pl-4">
            Check price
          </div>
        </a>
        <a class="border-4 border-blue-400 inline-block w-full md:w-1/4 rounded-r-full rounded-l-full flex parent hover:bg-blue-400 cursor-pointer hover:font-bold" href="/commands">
          <div class="flex items-center justify-center inline-block border-4 border-blue-400 rounded-full w-10 h-10 ">
            <ion-icon name="cart-outline"></ion-icon>
          </div>
          <div class="flex items-center pl-4">
            Commands
          </div>
        </a>
        <div class="border border-green-400 inline-block w-full md:w-1/4 rounded-r-full rounded-l-full flex parent hover:bg-green-400 cursor-pointer">
          <div class="flex items-center justify-center inline-block border border-green-400 rounded-full w-10 h-10 ">
            <ion-icon name="pricetag-outline"></ion-icon>
          </div>
          <div class="flex items-center pl-4">
            Check price
          </div>
        </div>
        <div class="border border-green-400 inline-block w-full md:w-1/4 rounded-r-full rounded-l-full flex parent hover:bg-green-400 cursor-pointer">
          <div class="flex items-center justify-center inline-block border border-green-400 rounded-full w-10 h-10 ">
            <ion-icon name="pricetag-outline"></ion-icon>
          </div>
          <div class="flex items-center pl-4">
            Check price
          </div>
        </div>
   
  </section>

  <span class="inline-block bg-gray-600 text-white font-bold px-2 mb-4">Reminders : </span>
  <section class="reminder border border-blue-200">
    <div >

      <div data-controller="static" class="flex justify-end">
          <%= link_to "Add reminder", new_reminder_path, class: "font-bold text-white bg-gray-900 px-8 py-1 cursor-pointer"%>
      </div>
    </div>
    <div class="grid grid-cols-3 ">
      <% if @reminders %>
        <% @reminders.each do |reminder|%>
          <div class=" border border-gray-300 m-5 rotate-1 p-1">
            <div class="flex justify-between ">
              <div class="px-2">
                <%= button_to reminder_path(reminder), method: :delete do %>
                  <ion-icon name="trash-outline" size="small"></ion-icon>
                <% end %>
              </div>
              <div class="bg-blue-400 text-white font-bold text-sm "> <%= reminder.created_at.strftime("%d-%m-%Y")%></div>
            </div>
            <div class=" text-center beautiful-text text-2xl leading-3 px-10 py-4  "> <%=reminder.reminder_text %></div>
          </div>
        <% end%>
      <% end %>
    </div>

    
  </section>
</section>
