/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


 body{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.2em;
 }
 .list{
    overflow-y: scroll;
    /* top: -300px; */
    padding: 10px 5px;
    
}
.list > option{
    padding: 5px 10px;
}
.list > option:hover {
    background-color: white;
    color: #282826;
    border-radius: 5px;
    border-left: solid gold 3px;
}
li:nth-child(odd) { background: #f3f4f6; }
.parent:hover > div{
    border-color: white;
    color: white;
}